body {
  background:#bfd0d1;
}

.container-fluid {
    margin-top:1%;
}

.single-item {
    width:90%;
    height:auto;
}

.content {
    margin-left: 5%;
}

.slide:focus {
  outline: none;
  border:none;
}


.graphic {
  margin-left:15%;
  max-width:100%;
  height:auto;
}

@media only screen and (max-width: 414px) {
  .graphic {
    margin-top:30%;
  }
}

#thumb-pic {
  margin-left:0;
}


@font-face {
  font-family: Shadeco;
  src: url('../LetteringDecoShadow.otf');
  src: url('../LetteringDecoShadow.ttf');
  }


.headline, .subhead, .textbox {
  margin-right:20%;
}

@media only screen and (max-width: 668px) {
  .text-area {
    padding-left:10%;
  }
}

.text-box {
    max-width:80%;
    margin-top:10%;
}

@media only screen and (max-width: 1024px) {

   .text-box {
    height:150px;
    border-bottom:1px dotted #dddddd;
    overflow-y:scroll;}

}


.headline {
    margin-top:7%;
    font-family:Shadeco;
    color:black;
}


.subhead {
  border-bottom:2px dotted black;
  margin-top:7%;
  font-family:Garamond, serif;
}

#title {
  font-size:3em;
  padding-top:5%;
}

#subtitle {
  font-size:2.4em;
  font-family:Snell Roundhand, serif;
  color:#CC7A00;
  margin-top:15%;
}

h1 {
  color:#553900;
  font-size:2em;
  font-family:Shadeco;
}

.article-intro {
  font-family:Engravers MT, serif;
  font-size:1.5em;
  line-height:150%;
}

#quote {
  font-family: Museo Slab, serif;
}

@media only screen and (max-width: 668px) {
  #quote{
    display:none;
  }
}

@media only screen and (max-width: 668px) {
  .article-intro {
    font-size:0.65em;
  }
}

.qtip {
  max-width:55%;
  height:auto;
}

.baseball, .swear, .ratio {
  color:#ffffff;
}

.qtip-pic {
  max-width:100%;
  height:auto;
}

ul {
  list-style-type:none;
  margin:0;
}

.sources {
  height:auto;
  width:100%;
  display:block;
  float:left;
  margin-bottom:2%;
}


.sources-pic, .sources-text {
  display:inline-block;
}

.sources-pic {
  float:left;
}

.sources-text {
  padding-top:2%;
  padding-left:2%;
}

@media only screen and (max-width: 668px) {
  .sources-text {
    width:80%;
    font-size:0.7em;
    line-height:90%;
  }
}



